<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Liên hệ cơ bản</title>
</head>
<body>

  <h2>Form Liên hệ</h2>

  <form action="" method="post">
    <label for="name">Họ và tên:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label>Giới tính:</label><br>
    <input type="radio" id="nam" name="gender" value="Nam" required>
    <label for="nam">Nam</label><br>
     <input type="radio" id="nu" name="gender" value="Nữ">
    <label for="nu">Nữ</label><br>
    <input type="radio" id="khac" name="gender" value="Khác">
    <label for="khac">Khác</label><br><br>


    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="message">Lời nhắn:</label><br>
    <textarea id="message" name="message" rows="4" cols="40"></textarea><br><br>

    <input type="submit" value="Gửi">
  </form>
</body>
</html>