<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/web.css">
    <title>Phim hoạt hình</title>
</head>
<body>
    <header>
    <h1>BTBN CINEMAS</h1>
    <p>Góc nhỏ để trở về tuổi thơ, nơi cảm xúc lắng đọng cùng từng khung hình.</p>
  </header>

  <main>
    <section class="gallery">
      <article class="card">
        <a href="https://youtu.be/ngb47rGaAqw?si=sdqChCgNWEw5Y60M"><img src="../media/doraemon.jpg" alt="Doraemon">
        <h2>Doraemon</h2>
        <p>Chú mèo máy đến từ tương lai và những cuộc phiêu lưu kỳ thú cùng Nobita.</p>
        </a>
      </article>

      <article class="card">
        <a href="https://youtu.be/hgUGe1cf3So?si=L6WDa8agSJBOBpIT">
        <img src="../media/ghibli.jpg" alt="Ghibli">
        <h2>Ghibli - Gió Thổi Qua</h2>
        <p>Những thước phim nhẹ nhàng và sâu lắng như một bài thơ bằng hình ảnh.</p>
        </a>
      </article>

      <article class="card">
        <a href="https://youtu.be/B1EG31dqaF0?si=rwOYFWsiJs1Xm5LA">
        <img src="../media/op.jpg" alt="One Piece">
        <h2>One Piece</h2>
        <p>Hành trình tìm kiếm kho báu và tình bạn bất diệt trên biển khơi.</p>
      </article>
    </section>
  </main>
  <footer>
    <p> Cảm ơn bạn đã ghé thăm. Mỗi bộ phim là một phần ký ức, đừng quên cảm nhận bằng trái tim bạn nhé! XEM THÌ BẤM VÔ NKAAAA</p>
  </footer>
</body>
</html>